{% extends "layout.html" %}
{% load static %}

{% block title %}Welcome! | PokéPlanner{% endblock %}

{% block body%}

<div id="new_user">

    <h1>Welcome!</h1>
    <h3>Choose your starter Pokemon.</h3>

    <form id="choose_pokemon" action="{% url 'new_user' %}" method="POST">
        {% csrf_token %}
        <select name="name" id="starter_pokemon">
            <option name="squirtle">Squirtle</option>
        </select>
        <h3>Add a nickname! (Optional)</h3>
        <input type="text" name="nickname">
        <img src="{% static 'squirtle.png' %}" alt="Squirtle">
        <input type="submit" class="btn" value="Let's Go!">
    </form>

</div>

{% endblock %}